.backtop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/assets/img/backtop.png');
    background-size: cover;
    cursor: pointer;
    transition: all 200ms;   
}

.hide {
    height: 0;
    transition: all 200ms;
}

.backtop:hover {
    background-image: url('/assets/img/backtophover.png');
}